.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    width: 25%;

    &.small {
        width: max-content;

        .nav {
            width: 75px;
        }

        @media (max-width:575.98px) {
            display: none;
        }

    }


    &.fullScreen {
        right: 0;
        width: 100%;
        bottom: 0;
        border: none;
        z-index: 999;
        .nav {
            max-width: 400px;
            border-right: none;

            @media (max-width:767.98px) {
                max-width: none;
                width: 100% !important;
                border: none;
            }

            &__list_li {
                &.active {
                    &::before {
                        content: '';
                        animation-duration: 0s;
                    }

                }
            }
        }

    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0 30px;
        height: 100%;
        overflow-y: overlay;
        overflow-x: hidden;
        gap: 20px;
        width: 100%;
        transition: .3s;
        backdrop-filter: blur(10px);
        background: var(--blurBlack);

        @media (max-width:1199.98px) {
            transition: 0s;
        }

        &__list {
            display: flex;
            flex-direction: column;
            max-height: 400px;

            &_li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                padding: 20px;
                position: relative;

                &.active {
                    &::before {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: var(--border-color);
                        left: 0;
                        bottom: 0;
                        position: absolute;
                        animation-name: textSlide;
                        animation-duration: 0.3s;
                    }

                }

                div {
                    font-size: 40px;
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    display: flex;

                    svg {
                        path {
                            color: var(--mainColor);
                        }
                    }
                }

                &_text {
                    font-size: 22px;
                    text-transform: uppercase;
                    text-wrap: nowrap;
                    transition: .3s;
                    font-family: 'Montserrat';
                    color: var(--mainColor);

                    @media (max-width:1199.98px) {
                        transition: 0s;
                    }

                    &.closed {
                        visibility: 0;
                        opacity: 0;
                    }

                }
            }
        }

        &__logo {
            display: block;
            color: var(--mainColor);
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            font-family: 'Montserrat';
            text-transform: uppercase;
            letter-spacing: 5px;
            padding-bottom: 20px;

            @media (max-width:1199.98px) {
                transition: 0s;
            }
        }

        &__changeTheme {
            margin-left: 20px;
            font-size: 30px;
            cursor: pointer;
            width: max-content;

            svg {
                path {
                    color: var(--mainColor);
                }
            }
        }
    }
}

@keyframes textSlide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}