$Roboto: ('Regular', 400),
            ('Medium', 500),
            ('Light', 200), 
            ('Bold', 700);

@each $name,$weight in $Roboto {
    @font-face {
        font-family: 'Roboto';
        src: url('../assets/fonts/Roboto-#{$name}.ttf');
        font-weight: $weight;
    }
}
$Montserrat: ('Regular', 400),
            ('Medium', 500),
            ('Bold', 600);

@each $name,$weight in $Montserrat {
    @font-face {
        font-family: 'Montserrat';
        src: url('../assets/fonts/Montserrat-#{$name}.ttf');
        font-weight: $weight;
    }
}