@import url(fonts.scss);
@import url(swiper.scss);

:root {
    --mainColor: rgb(0, 0, 0);
    --mainBack: rgb(255, 255, 255);
    --imgFilter: 0;
    --border-color:rgb(165, 165, 165);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    min-height: 100vh;
    transition: .3s ;
    background: var(--mainBack);
    color: var(--mainColor);
}

.wrapper.dark {
    --mainColor: rgb(255, 255, 255);
    --mainBack: rgb(34, 34, 34);
    --imgFilter: 1;
}
.wrapper.dark {
    :disabled {
        background:rgb(59, 59, 59) ;
    }
}
.wrapper {
    :disabled {
        background:rgb(186, 186, 186) ;
    }
}
.wrapper.disable {
    height: 100vh;
    overflow: hidden;
}
@keyframes fromtop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}