@import url(fonts.scss);
@import url(swiper.scss);

:root {
    --mainColor: white;
    --imgFilter: 0;
    --blurBlack: rgba(0, 0, 0, 0.147);
    --fullBackground: linear-gradient(-45deg, #492216, #451226, #113d4e, #0b3a2f);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    min-height: 100vh;
    transition: .3s;
}

.back {
    background: var(--fullBackground);
    animation-name: gradient;
    animation-duration: 15s;
    background-size: 400% 400%;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: .3s;
}

.back.dark {
    --fullBackground: linear-gradient(133deg, rgba(0, 0, 0, 1) 0%, rgba(66, 66, 66, 1) 50%, rgba(191, 191, 191, 1) 100%);
}

.wrapper.disable {
    height: 100vh;
    overflow: hidden;
}

@keyframes fromtop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}